<%= form_with(model: book, local: true, id: 'book-form') do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image-upload">
    <%= form.label :cover do %>
      <% if book.cover.attached? %>
        <%= image_tag book.cover, alt: 'Book cover', class: 'book-cover', 
                                  id: 'cover-preview' %>
      <% else %>
        <%= image_tag 'placeholder.png', alt: 'Book cover', class: 'book-cover',
                                         id: 'cover-preview' %>
      <% end %>
    <% end %>
    <%= form.file_field :cover %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.rich_text_area :note %>
  </div>

  <%= form.submit class: 'submit-button' %>
<% end %>

<%= javascript_pack_tag 'imageform' %>
