<div class="presenter">
  <div class="nav-buttons">
    <%= link_to :arrow_back.icon + ' Back', books_path %>
    <%= link_to :edit.icon + ' Edit', edit_book_path(@book) %>
  </div>

  <div class="big book">
    <% if @book.cover.attached? %>
      <%= image_tag @book.cover, alt: 'Book cover', class: 'book-cover' %>
    <% else %>
      <%= image_tag 'placeholder.png', alt: 'Book cover', class: 'book-cover' %>
    <% end %>
    <div class="title">
      <span><%= :title.icon(36) %></span>
      <h4 id="big-title"><%= @book.title %></h4>
    </div>
    <div class="author">
      <span><%= :person_outline.icon(36) %></span>
      <span id="big-author"><%= @book.author %></span>
    </div>
    <%= @book.note %>
  </div>
</div>
