<div class="presenter">
  <div class="nav-buttons">
    <%= link_to 'Back', books_path %>
    <%= link_to 'Edit', edit_book_path(@book) %>
  </div>

  <div class="big book">
    <% if @book.cover.attached? %>
      <%= image_tag @book.cover, alt: 'Book cover', class: 'book-cover' %>
    <% else %>
      <%= image_tag 'placeholder.png', alt: 'Book cover', class: 'book-cover' %>
    <% end %>
    <h4><%= @book.title %></h4>
    <p><%= @book.author %></p>
  </div>
</div>
